body {
    margin: 0px;
}

.page {
    height: 100vh;
    background: black;
}

.backgorund-image-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.align-flex-end {
    align-items: flex-end;
}
