.logo-bar {
    color: white;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-burger {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-image: url('../assets/img/hamburger.svg');
}

.icon {
    width: 50px;
    height: 50px;
    background-image: url('../assets/img/logo.jpg');
}

.rest-of-page {
    display: flex;
    align-items: center;
}

.loop {
    margin-right: 5px;
    background-image: url('../assets/img/loop.png');
    width: 15px;
    height: 15px;
    filter: invert(96%) sepia(0%) saturate(7493%) hue-rotate(267deg) brightness(104%) contrast(103%);
}

.dots {
    margin-right: 5px;
}
