.main  {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    color: white;
}

.title-img {
    background-image: url('../assets/img/elden.jpg');
    height: 60vh;
}

.text {
    height: 100%;
}

.main-title {
    display: flex;
    align-items: flex-end;
    height: 90%;
}

.main-subtitle {
    align-self: flex-end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.last {
    color: white;
    display: flex;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 3vh;
}

.slider {
    color: white;
    display: flex;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 15px;
}

.item {
    display: flex;
    width: calc(100% / 3);
    margin: 0 15px 0 15px;
    height: 10rem;
}

.title-1 {
    background-image: url('../assets/img/img1.jpg');
}

.title-2 {
    background-image: url('../assets/img/img2.jpg');
}

.title-3 {
    background-image: url('../assets/img/img3.jpg');
}

@media screen and (max-width: 480px) {
    .title-img {
         width: 400px;
    }
}