.title {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    color: white;
}

.title__main, .last-played__main {
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.title__main--image {
    background-image: url('../assets/img/elden.jpg');
    height: 60vh;
}

.title__string-placeholder {
    height: 100%;
}

.title__text {
    display: flex;
    align-items: flex-end;
    height: 90%;
}

.last-played {
    color: white;
    display: flex;
    margin: 3vh 15px 15px 0;
}

.last-played--space-top {
    margin-top: 15px;
}

.last-played__main--item {
    display: flex;
    width: calc(100% / 3);
    margin: 0 15px 0 15px;
    height: 10rem;
}

.title-1 {
    background-image: url('../assets/img/img1.jpg');
}

.title-2 {
    background-image: url('../assets/img/img2.jpg');
}

.title-3 {
    background-image: url('../assets/img/img3.jpg');
}

@media only screen and (max-width: 992px) {
    .title {
        margin-left: 10px;
        margin-right: 10px;
    }

    .title__main--image {
        height: 25vh;
    }

    .last-played {
        margin-left: 10px;
        margin-right: 10px;
    }

    .last-played__main--item {
        height: 20rem;
        margin: 0 5px 0 5px;
    }
}
