.title-card {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    color: white;
}

.title-card__image--position, .last-played__image--position {
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.title-card__image {
    background-image: url('../assets/img/elden.jpg');
    height: 60vh;
}

.title-card__header {
    height: 100%;
}

.title-card__description {
    display: flex;
    align-items: flex-end;
    height: 90%;
}

.last-played {
    color: white;
    display: flex;
    margin: 3vh 15px 15px 0;
}

.last-played__space-top {
    margin-top: 15px;
}

.last-played__game {
    display: flex;
    width: calc(100% / 3);
    margin: 0 15px 0 15px;
    height: 10rem;
}

.last-played__image-first {
    background-image: url('../assets/img/img1.jpg');
}

.last-played__image-second {
    background-image: url('../assets/img/img2.jpg');
}

.last-played__image-third {
    background-image: url('../assets/img/img3.jpg');
}

@media only screen and (max-width: 992px) {
    .title-card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .title-card__image--position {
        height: 25vh;
    }

    .last-played {
        margin-left: 10px;
        margin-right: 10px;
    }

    .last-played__game {
        height: 20rem;
        margin: 0 5px 0 5px;
    }
}
