.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-burger {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-image: url('../assets/img/hamburger.svg');
}

.navbar-icon {
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: url('../assets/img/logo.jpg');
}

.navbar-search {
    margin-right: 5px;
    background-image: url('../assets/img/loop.png');
    width: 15px;
    height: 15px;
    filter: invert(100%);
}

.navbar-show-more {
    margin-right: 5px;
}
